<div class="content">
	<ul class="pl-3 nav" style="padding-inline-start: 20px; width: 160px;">
		<li>
			<a routerLink="/home" routerLinkActive="active">to home</a>
			<!-- <a [routerLink]="['/home', 123]" routerLinkActive="active">to home</a> -->
			<!-- <button class="btn btn-outline-primary btn-sm" (click)="goHome()">to home</button> -->
		</li>
		<li>
			<a routerLink="/templates" routerLinkActive="active">to templates</a>
		</li>
		<li>
			<a routerLink="/forms" routerLinkActive="active">to forms</a>
		</li>
		<li>
			<a routerLink="/to-do-list" routerLinkActive="active">to to-do-list</a>
		</li>
		<li>
			<a routerLink="/service" routerLinkActive="active">to service</a>
		</li>
		<li>
			<a routerLink="/get-dom" routerLinkActive="active">to get-dom</a>
		</li>
		<li>
			<a routerLink="/communication" routerLinkActive="active">to communication</a>
		</li>
		<li>
			<a routerLink="/life-cycle" routerLinkActive="active">to life-cycle</a>
		</li>
		<li>
			<a routerLink="/router" routerLinkActive="active">to router</a>
		</li>
		<li>
			<a routerLink="/order/home" routerLinkActive="active">to order-system</a>
		</li>
	</ul>			
	<div class="flex-grow-1" style="margin-left: 160px;">
		<!-- <div class="container main"> -->
			<router-outlet></router-outlet>
		<!-- </div> -->
	</div>
</div>
