<!--
 * @Author: YZY
 * @Date: 2020-05-18 10:12:11
 * @LastEditTime: 2020-05-18 16:07:48
 * @FilePath: /angulardemo/src/app/views/router/router.component.html
 * @Description:
 -->
<div class="pc">
  <h3>路由</h3>
  <hr>
  <div class="mb-4">
    <h5 class="font-weight-bold">创建一个默认带路由的项目</h5>
    <ol>
      <li class="mb-2">
        <p class="font-weight-bold">命令行创建项目时 路由选项填写yes</p>
        <img src="../../../assets/1589769366725.jpg" alt="" width="80%">
      </li>
      <li class="mb-2">
        <p class="font-weight-bold">在 app-routing.module.ts 路由文件中配置路由</p>
        <p>引入组件</p>
        <app-code type="route1"></app-code>
        <p>配置路由</p>
        <app-code type="route2"></app-code>
      </li>
      <li>
        <p class="font-weight-bold">找到 app.component.html 根组件模板，配置 router-outlet 显示动态加载的路由</p>
        <app-code type="route3"></app-code>
      </li>
    </ol>
  </div>
  <div class="mb-4">
    <h5>路由链接激活状态</h5>
    <div class="ml-4">
      <p class="font-weight-bold">RouterLinkActive指令会为当前激活的路由绑定指定的css类</p>
      <app-code type="route4"></app-code>
      <p class="font-italic">** 路由链接的激活状态会向下级联到路由树中的每个层级，所以，父子路由链接可能会同时激活。要覆盖这种行为，可以把 [routerLinkActiveOptions] 绑定为 {{'{'}} exact: true } 表达式，这样 RouterLink 只有当 URL 与当前 URL 精确匹配时才会激活</p>
    </div>
  </div>
  <div class="mb-4">
    <h5 class="font-weight-bold">动态路由</h5>
    <ol>
      <li>
        <p class="font-weight-bold">
          配置路由
        </p>
        <app-code type="route5"></app-code>
      </li>
      <li>
        <p class="font-weight-bold">
          跳转传参
        </p>
        <app-code type="route6"></app-code>
      </li>
      <li>
        <p class="font-weight-bold">
          获取路由
        </p>
        <app-code type="route7"></app-code>
      </li>
    </ol>
  </div>
  <div class="mb-4">
    <h5 class="font-weight-bold">js中跳转</h5>
    <div class="ml-4">
      <p class="font-weight-bold">
        引入router服务并注入到组件，再使用navigate方法跳转
      </p>
      <app-code type="route8"></app-code>
    </div>
  </div>
  <div class="mb-4">
    <h5 class="font-weight-bold">路由 get 传值 js 跳转</h5>
    <ol>
      <li>
        <p class="font-weight-bold">引入 NavigationExtras</p>
        <app-code type="route9"></app-code>
      </li>
      <li>
        <p class="font-weight-bold">定义方法进行页面跳转</p>
        <app-code type="route10"></app-code>
      </li>
      <li>
        <p class="font-weight-bold">获取 get 传值</p>
        <app-code type="route11"></app-code>
      </li>
    </ol>
  </div>
  <div class="mb-4">
    <h5>父子路由</h5>
    <ol>
      <li>
        <p class="font-weight-bold">配置路由</p>
        <app-code type="route12"></app-code>
      </li>
      <li>
        <p class="font-weight-bold">在父组件中定义routerOutlet</p>
        <pre class='hljs'><code><span class="hljs-tag">&lt;router-outlet&gt;</span><span class="hljs-tag">&lt;/router-outlet&gt;</span></code></pre>
      </li>
    </ol>
  </div>
</div>